---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
{% for kategories in site.data.kategori %}
{% assign sorted = site.categories[kategories.category] | reverse %}
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize badge badge-primary text-small">{{ kategories.name }}</span></h4>
<div class="blog-grid-container">
    {% for post in sorted %}
    {% if post.title != null %}
    {% include postbox.html %}
    {% endif %}
    {% endfor %}
</div>
{% endfor %}